@import "src/assets/scss/variables.scss";
@import "src/assets/scss/mixins.scss";
@import "sass-rem";

@mixin init {
  fieldset {
    border: 0;
  }
  input[type="password"] {
    font: small-caption;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

// Define input states size
@mixin inputSize($height, $width, $fontSize, $lineHeight) {
  height: rem($height);
  width: rem($width);
  border-radius: rem(6px);
  input {
    height: inherit;
    border-radius: rem(6px);
    padding: 0 rem(16px);
    color: $black-09;
    font-weight: 400;
    font-size: rem($fontSize);
    line-height: $lineHeight;
    &::placeholder {
      font-size: rem($fontSize);
      font-weight: 400;
      line-height: $lineHeight;
      color: $grey-a3;
      opacity: 1;
    }
  }
}

.custom_input {
  &.size {
    &_lg {
      @include inputSize(56px, 640px, 16px, 24px);
    }
    &_md {
      @include inputSize(44px, 480px, 14px, 20px);
    }
    &_sm {
      @include inputSize(39px, 480px, 14px, 20px);
    }
  }
  &.variant {
    @include init;
    &_solid {
      border: 1px solid $grey-9a;
      background-color: $grey-f5;
      border-radius: 50px;
      &:hover {
        border: 1px solid $informing-primary;
        background: $white-basic;
      }
    }
    &_ghost {
      background-color: $white-basic;
      box-shadow: $bs-neutral-lg;
      &:hover {
        border: 1px solid $informing-primary;
        background: $white-basic;
      }
    }
  }
}
