@import "assets/scss/variables.scss";
@import "assets/scss/mixins.scss";
@import "sass-rem";

.product_container {
  min-height: calc(100vh - rem(64px));
  width: 100%;
  // border-radius: rem(24px);
  gap: rem(32px);
  max-width: rem(528px);
  max-height: rem(880px);
  padding: 24px;
  align-content: center;
  border: 1px solid $neutral-5;
  background: $neutral-8;

  // padding-left: 64px;
  .stack_search {
    // margin-bottom: 32px;
  }
  .search_input {
    width: 440px;
  }
}

.product_title {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  align-self: stretch;
  padding: rem(24px) rem(0px);
  // transform: translate(0%, 50%);
  &_divider {
    width: 70%;
    height: rem(1px);
    border-style: dashed !important;
  }
}

.list_container {
  // padding-left: 16px;
  min-width: rem(480px);
  max-height: rem(780px);
  overflow: auto;

  &:hover {
    overflow-y: scroll;
  }
  &::-webkit-resizer {
    height: 314px;
  }
  &::-webkit-scrollbar {
    width: rem(4px);
    background-color: $neutral-4;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: $neutral-7;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $neutral-4;
  }

  .product_category {
    display: flex;
    align-items: center;
    gap: rem(16px);
    min-height: rem(48px);
    &:hover {
      width: 100%;
      background: $neutral-7;
      border-radius: 8px;
    }
  }

  .product_item {
    width: 440px;
    gap: 24px;
    padding: 12px 16px 12px 16px;
    margin-left: 32px;
    &:hover {
      // max-width: 440px;
      border-radius: 8px;
      border: 1px solid $primary-30;
    }
  }

  .product_thumbnail {
    border-radius: 24px;
  }
}
