@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";
@import "sass-rem";

.header_wrapper {
  background: hsla(0, 0%, 91%, 0.731);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  height: rem(64px);
  width: 100%;
  z-index: 10;
  transition: color 0.1s ease, background-color 0.1s ease, height 0.25s ease;

  @include flex_center;
  flex-wrap: nowrap;

  .header_left {
    flex: initial;
    max-width: rem(300px);
  }
  .header_centre {
    flex: 1;
    padding-right: 30%;
    display: flex;
    align-items: center;
  }
  .header_right {
    height: rem(64px);
    width: rem(177px);
    display: flex;
    align-items: center;
    gap: rem(20px);
    // border-left: 1px solid $solid-neutral-300;
    .menu_btn {
      gap: rem(8px);
      height: 100%;
      width: 100%;
    }
  }
}
